{% extends 'index.html' %}

{% block content %}
    <h1>Background</h1>
    <h5>The holiday season is in full swing and all of the students in the engineering academy are preparing their gifts for Secret Santa. Right before they exchange gifts the students decide to go outside to take an academy picture to commemorate the season.    </h5>
    <h5>Walking back into the academy, all excited for the holiday season the students immediately notice something is wrong. There is a deep red pool of… something collecting underneath the Christmas tree and the previously pristine presents are replaced with haphazardly wrapped boxes.
    <h5>What do you do?</h5>
        <a href="#" class="btn btn-primary"> Investigate </a>
        <a href="#" class="btn btn-primary"> Leave like a little bitch</a>
{% endblock content %}